*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    padding: 16px 0;
    background-color: rgb(58, 6, 58);
    color: aliceblue;
    font-family: "Permanent Marker", cursive;
}

body{
    font-family: "Paytone One", sans-serif;
}

header nav li{
    display: inline;
    margin-left: 16px;
}

header nav li a{
    color: aliceblue;
    text-decoration: none;
}

.cabeçalho{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .cabeçalho,
section .cabeçalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .cabeçalho img{
    height: 300px;
}

section .cabeçalho{
    align-items: flex-start;
}

section{
    padding:  24px 0;
}

section h2{
    margin-bottom: 9px;
}
section img{
    margin-right: 20px;
}